In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
os.chdir('/home/ishta/Analyzing-and-predicting-the-volatile-market-patterns-for-trading/Notebooks_RL_trading')

In [3]:
data = pd.read_csv('Datasets/eurusd_minute.csv')

In [4]:
print('Column names:', data.columns)

Column names: Index(['Date', 'Time', 'BO', 'BH', 'BL', 'BC', 'BCh', 'AO', 'AH', 'AL', 'AC',
       'ACh'],
      dtype='object')

In [5]:
data

,Date,Time,BO,BH,BL,BC,BCh,AO,AH,AL,AC,ACh
0,2005-01-02,18:29,1.35550,1.35550,1.35550,1.35550,0.00000,1.35650,1.35650,1.35650,1.35650,0.00000
1,2005-01-02,18:38,1.35550,1.35550,1.35550,1.35550,0.00000,1.35650,1.35650,1.35650,1.35650,0.00000
2,2005-01-02,18:51,1.35620,1.35620,1.35620,1.35620,0.00000,1.35720,1.35720,1.35720,1.35720,0.00000
3,2005-01-02,18:52,1.35600,1.35600,1.35600,1.35600,0.00000,1.35700,1.35700,1.35700,1.35700,0.00000
4,2005-01-02,18:55,1.35630,1.35630,1.35630,1.35630,0.00000,1.35730,1.35730,1.35730,1.35730,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...
5618814,2020-04-29,23:55,1.08770,1.08770,1.08763,1.08764,0.00006,1.08784,1.08784,1.08776,1.08778,0.00006
5618815,2020-04-29,23:56,1.08762,1.08762,1.08756,1.08757,0.00005,1.08777,1.08777,1.08770,1.08772,0.00005
5618816,2020-04-29,23:57,1.08759,1.08761,1.08757,1.08759,0.00000,1.08774,1.08775,1.08773,1.08773,0.00001
5618817,2020-04-29,23:58,1.08758,1.08760,1.08757,1.08760,-0.00002,1.08772,1.08775,1.08771,1.08775,-0.00003
5618818,2020-04-29,23:59,1.08761,1.08768,1.08761,1.08767,-0.00006,1.08778,1.08785,1.08778,1.08781,-0.00003

In [6]:
# Convert the 'Date' column to datetime format
data['Date'] = pd.to_datetime(data['Date'])

# Create separate columns for month and date
data['Month'] = data['Date'].dt.month
data['Day'] = data['Date'].dt.day
data['Year'] = data['Date'].dt.year

In [7]:
data

,Date,Time,BO,BH,BL,BC,BCh,AO,AH,AL,AC,ACh,Month,Day,Year
0,2005-01-02,18:29,1.35550,1.35550,1.35550,1.35550,0.00000,1.35650,1.35650,1.35650,1.35650,0.00000,1,2,2005
1,2005-01-02,18:38,1.35550,1.35550,1.35550,1.35550,0.00000,1.35650,1.35650,1.35650,1.35650,0.00000,1,2,2005
2,2005-01-02,18:51,1.35620,1.35620,1.35620,1.35620,0.00000,1.35720,1.35720,1.35720,1.35720,0.00000,1,2,2005
3,2005-01-02,18:52,1.35600,1.35600,1.35600,1.35600,0.00000,1.35700,1.35700,1.35700,1.35700,0.00000,1,2,2005
4,2005-01-02,18:55,1.35630,1.35630,1.35630,1.35630,0.00000,1.35730,1.35730,1.35730,1.35730,0.00000,1,2,2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5618814,2020-04-29,23:55,1.08770,1.08770,1.08763,1.08764,0.00006,1.08784,1.08784,1.08776,1.08778,0.00006,4,29,2020
5618815,2020-04-29,23:56,1.08762,1.08762,1.08756,1.08757,0.00005,1.08777,1.08777,1.08770,1.08772,0.00005,4,29,2020
5618816,2020-04-29,23:57,1.08759,1.08761,1.08757,1.08759,0.00000,1.08774,1.08775,1.08773,1.08773,0.00001,4,29,2020
5618817,2020-04-29,23:58,1.08758,1.08760,1.08757,1.08760,-0.00002,1.08772,1.08775,1.08771,1.08775,-0.00003,4,29,2020
5618818,2020-04-29,23:59,1.08761,1.08768,1.08761,1.08767,-0.00006,1.08778,1.08785,1.08778,1.08781,-0.00003,4,29,2020

In [8]:
# Drop rows with empty values
data = data.dropna()

In [9]:
data

,Date,Time,BO,BH,BL,BC,BCh,AO,AH,AL,AC,ACh,Month,Day,Year
0,2005-01-02,18:29,1.35550,1.35550,1.35550,1.35550,0.00000,1.35650,1.35650,1.35650,1.35650,0.00000,1,2,2005
1,2005-01-02,18:38,1.35550,1.35550,1.35550,1.35550,0.00000,1.35650,1.35650,1.35650,1.35650,0.00000,1,2,2005
2,2005-01-02,18:51,1.35620,1.35620,1.35620,1.35620,0.00000,1.35720,1.35720,1.35720,1.35720,0.00000,1,2,2005
3,2005-01-02,18:52,1.35600,1.35600,1.35600,1.35600,0.00000,1.35700,1.35700,1.35700,1.35700,0.00000,1,2,2005
4,2005-01-02,18:55,1.35630,1.35630,1.35630,1.35630,0.00000,1.35730,1.35730,1.35730,1.35730,0.00000,1,2,2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5618814,2020-04-29,23:55,1.08770,1.08770,1.08763,1.08764,0.00006,1.08784,1.08784,1.08776,1.08778,0.00006,4,29,2020
5618815,2020-04-29,23:56,1.08762,1.08762,1.08756,1.08757,0.00005,1.08777,1.08777,1.08770,1.08772,0.00005,4,29,2020
5618816,2020-04-29,23:57,1.08759,1.08761,1.08757,1.08759,0.00000,1.08774,1.08775,1.08773,1.08773,0.00001,4,29,2020
5618817,2020-04-29,23:58,1.08758,1.08760,1.08757,1.08760,-0.00002,1.08772,1.08775,1.08771,1.08775,-0.00003,4,29,2020
5618818,2020-04-29,23:59,1.08761,1.08768,1.08761,1.08767,-0.00006,1.08778,1.08785,1.08778,1.08781,-0.00003,4,29,2020

In [10]:
# Define parameters
short_window = 12
long_window = 26
signal_window = 9
rsi_window = 14
cci_window = 20
dx_window = 14
sma_30_window = 30
sma_60_window = 60
bollinger_window = 20
bollinger_std = 2

# Calculate MACD
data['Short_EMA'] = data['BC'].ewm(span=short_window, adjust=False).mean()
data['Long_EMA'] = data['BC'].ewm(span=long_window, adjust=False).mean()
data['MACD'] = data['Short_EMA'] - data['Long_EMA']
data['Signal_Line'] = data['MACD'].ewm(span=signal_window, adjust=False).mean()
data['MACD_Histogram'] = data['MACD'] - data['Signal_Line']

# Calculate Bollinger Bands
data['bollinger_mid'] = data['BC'].rolling(window=bollinger_window).mean()
data['bollinger_std'] = data['BC'].rolling(window=bollinger_window).std()
data['boll_ub'] = data['bollinger_mid'] + (bollinger_std * data['bollinger_std'])
data['boll_lb'] = data['bollinger_mid'] - (bollinger_std * data['bollinger_std'])

# Calculate RSI
delta = data['BC'].diff(1)
gain = delta.where(delta > 0, 0)
loss = -delta.where(delta < 0, 0)
avg_gain = gain.rolling(window=rsi_window, min_periods=1).mean()
avg_loss = loss.rolling(window=rsi_window, min_periods=1).mean()
rs = avg_gain / avg_loss
data['rsi_30'] = 100 - (100 / (1 + rs))

# Calculate CCI (Commodity Channel Index)
typical_price = (data['BC'] + data['BH'] + data['BL']) / 3
sma = typical_price.rolling(window=cci_window).mean()
mean_deviation = (np.abs(typical_price - sma)).rolling(window=cci_window).mean()
data['cci_30'] = (typical_price - sma) / (0.015 * mean_deviation)

# Calculate DX (Directional Movement Index)
delta_x = np.abs(data['BH'] - data['BL'])
delta_y = data['BH'].shift(1) - data['BL']
delta_z = data['BL'] - data['BH'].shift(1)
true_range = pd.concat([delta_x, delta_y, delta_z], axis=1).max(axis=1)
positive_directional_movement = np.where((delta_x > delta_y) & (delta_x > delta_z), delta_x, 0)
negative_directional_movement = np.where((delta_z > delta_x) & (delta_z > delta_y), delta_z, 0)

# Convert arrays to pandas Series
positive_directional_movement = pd.Series(positive_directional_movement, index=data.index)
negative_directional_movement = pd.Series(negative_directional_movement, index=data.index)
true_range = pd.Series(true_range, index=data.index)

adx = (positive_directional_movement.rolling(window=dx_window).mean() / true_range) * 100
di_minus = (negative_directional_movement.rolling(window=dx_window).mean() / true_range) * 100
data['dx_30'] = np.where((adx + di_minus) == 0, 0, np.abs((adx - di_minus) / (adx + di_minus)) * 100)

# Calculate 30-day Simple Moving Average
data['close_30_sma'] = data['BC'].rolling(window=sma_30_window).mean()

# Calculate 60-day Simple Moving Average
data['close_60_sma'] = data['BC'].rolling(window=sma_60_window).mean()

# Drop intermediate columns used for calculations
#data = data.drop(['Short_EMA', 'Long_EMA', 'Signal_Line', 'MACD_Histogram', 'bollinger_mid', 'bollinger_std'], axis=1, errors='ignore')

In [11]:
data

,Date,Time,BO,BH,BL,BC,BCh,AO,AH,AL,...,MACD_Histogram,bollinger_mid,bollinger_std,boll_ub,boll_lb,rsi_30,cci_30,dx_30,close_30_sma,close_60_sma
0,2005-01-02,18:29,1.35550,1.35550,1.35550,1.35550,0.00000,1.35650,1.35650,1.35650,...,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2005-01-02,18:38,1.35550,1.35550,1.35550,1.35550,0.00000,1.35650,1.35650,1.35650,...,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2005-01-02,18:51,1.35620,1.35620,1.35620,1.35620,0.00000,1.35720,1.35720,1.35720,...,0.000045,NaN,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN
3,2005-01-02,18:52,1.35600,1.35600,1.35600,1.35600,0.00000,1.35700,1.35700,1.35700,...,0.000057,NaN,NaN,NaN,NaN,77.777778,NaN,NaN,NaN,NaN
4,2005-01-02,18:55,1.35630,1.35630,1.35630,1.35630,0.00000,1.35730,1.35730,1.35730,...,0.000081,NaN,NaN,NaN,NaN,83.333333,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5618814,2020-04-29,23:55,1.08770,1.08770,1.08763,1.08764,0.00006,1.08784,1.08784,1.08776,...,-0.000019,1.087722,0.000037,1.087795,1.087649,34.782609,-39.304611,100.0,1.087653,1.087532
5618815,2020-04-29,23:56,1.08762,1.08762,1.08756,1.08757,0.00005,1.08777,1.08777,1.08770,...,-0.000026,1.087718,0.000048,1.087813,1.087623,15.384615,-82.253063,100.0,1.087654,1.087533
5618816,2020-04-29,23:57,1.08759,1.08761,1.08757,1.08759,0.00000,1.08774,1.08775,1.08773,...,-0.000029,1.087715,0.000054,1.087822,1.087608,22.222222,-76.714550,100.0,1.087657,1.087534
5618817,2020-04-29,23:58,1.08758,1.08760,1.08757,1.08760,-0.00002,1.08772,1.08775,1.08771,...,-0.000029,1.087710,0.000059,1.087828,1.087591,25.925926,-75.280606,100.0,1.087662,1.087535
5618818,2020-04-29,23:59,1.08761,1.08768,1.08761,1.08767,-0.00006,1.08778,1.08785,1.08778,...,-0.000023,1.087706,0.000060,1.087825,1.087587,39.393939,-35.527342,100.0,1.087670,1.087537

In [12]:
# Assuming your data is in a DataFrame named 'data'
# If 'Date' and 'Time' are already in datetime format, you can skip the conversion
# If not, you may convert 'Date' and 'Time' to datetime using:
# data['Date'] = pd.to_datetime(data['Date'] + ' ' + data['Time'])

# Calculate daily returns
data['Returns'] = data['BC'].pct_change()

# Calculate daily volatility (standard deviation of returns)
data['Volatility'] = data['Returns'].rolling(window=30).std()  # Adjust the window size as needed

# Calculate VIX (Volatility Index)
data['VIX'] = (data['Volatility'] * 100)  # Multiplying by 100 for percentage representation

# Calculate turbulence
data['Turbulence'] = data['Volatility'] * data['Returns']

# Assuming you want daily turbulence, you may want to sum up turbulence over a certain period
data['Turbulence'] = data['Turbulence'].rolling(window=30).sum()  # Adjust the window size as needed

# Drop NaN values resulting from rolling calculations
data = data.dropna()

# Reset index
data = data.reset_index(drop=True)

In [13]:
data

,Date,Time,BO,BH,BL,BC,BCh,AO,AH,AL,...,boll_lb,rsi_30,cci_30,dx_30,close_30_sma,close_60_sma,Returns,Volatility,VIX,Turbulence
0,2005-01-02,20:55,1.35360,1.35450,1.35360,1.35450,-0.00090,1.35460,1.35550,1.35460,...,1.354107,35.483871,-218.103680,95.918367,1.355190,1.355457,0.000665,0.000188,0.018835,-3.621690e-08
1,2005-01-02,20:56,1.35460,1.35460,1.35460,1.35460,0.00000,1.35560,1.35560,1.35560,...,1.354048,37.500000,-114.182297,92.000000,1.355163,1.355442,0.000074,0.000189,0.018894,-7.454586e-09
2,2005-01-02,20:57,1.35420,1.35420,1.35400,1.35400,0.00020,1.35520,1.35520,1.35500,...,1.353879,31.578947,-180.761782,92.000000,1.355120,1.355417,-0.000443,0.000204,0.020401,-8.297275e-08
3,2005-01-02,20:58,1.35410,1.35460,1.35380,1.35460,-0.00050,1.35510,1.35560,1.35480,...,1.353834,39.534884,-115.599343,96.491228,1.355100,1.355390,0.000443,0.000221,0.022144,2.812011e-08
4,2005-01-02,20:59,1.35480,1.35480,1.35410,1.35410,0.00070,1.35580,1.35580,1.35510,...,1.353718,35.416667,-99.779897,96.428571,1.355057,1.355358,-0.000369,0.000228,0.022837,-8.227332e-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5539285,2020-04-29,23:55,1.08770,1.08770,1.08763,1.08764,0.00006,1.08784,1.08784,1.08776,...,1.087649,34.782609,-39.304611,100.000000,1.087653,1.087532,-0.000064,0.000032,0.003173,4.285962e-09
5539286,2020-04-29,23:56,1.08762,1.08762,1.08756,1.08757,0.00005,1.08777,1.08777,1.08770,...,1.087623,15.384615,-82.253063,100.000000,1.087654,1.087533,-0.000064,0.000034,0.003407,1.819028e-09
5539287,2020-04-29,23:57,1.08759,1.08761,1.08757,1.08759,0.00000,1.08774,1.08775,1.08773,...,1.087608,22.222222,-76.714550,100.000000,1.087657,1.087534,0.000018,0.000034,0.003421,2.448068e-09
5539288,2020-04-29,23:58,1.08758,1.08760,1.08757,1.08760,-0.00002,1.08772,1.08775,1.08771,...,1.087591,25.925926,-75.280606,100.000000,1.087662,1.087535,0.000009,0.000030,0.003022,5.469847e-09
5539289,2020-04-29,23:59,1.08761,1.08768,1.08761,1.08767,-0.00006,1.08778,1.08785,1.08778,...,1.087587,39.393939,-35.527342,100.000000,1.087670,1.087537,0.000064,0.000032,0.003207,7.533892e-09

In [14]:
data.columns

Index(['Date', 'Time', 'BO', 'BH', 'BL', 'BC', 'BCh', 'AO', 'AH', 'AL', 'AC',
       'ACh', 'Month', 'Day', 'Year', 'Short_EMA', 'Long_EMA', 'MACD',
       'Signal_Line', 'MACD_Histogram', 'bollinger_mid', 'bollinger_std',
       'boll_ub', 'boll_lb', 'rsi_30', 'cci_30', 'dx_30', 'close_30_sma',
       'close_60_sma', 'Returns', 'Volatility', 'VIX', 'Turbulence'],
      dtype='object')

In [15]:
# Calculate the index to split at (95% of rows)
split_index = int(0.99 * len(data))

# Split the DataFrame into two parts
training_dataset = data.iloc[:split_index]
testing_dataset = data.iloc[split_index:]

In [16]:
training_dataset

,Date,Time,BO,BH,BL,BC,BCh,AO,AH,AL,...,boll_lb,rsi_30,cci_30,dx_30,close_30_sma,close_60_sma,Returns,Volatility,VIX,Turbulence
0,2005-01-02,20:55,1.35360,1.35450,1.35360,1.35450,-0.00090,1.35460,1.35550,1.35460,...,1.354107,35.483871,-218.103680,95.918367,1.355190,1.355457,0.000665,0.000188,0.018835,-3.621690e-08
1,2005-01-02,20:56,1.35460,1.35460,1.35460,1.35460,0.00000,1.35560,1.35560,1.35560,...,1.354048,37.500000,-114.182297,92.000000,1.355163,1.355442,0.000074,0.000189,0.018894,-7.454586e-09
2,2005-01-02,20:57,1.35420,1.35420,1.35400,1.35400,0.00020,1.35520,1.35520,1.35500,...,1.353879,31.578947,-180.761782,92.000000,1.355120,1.355417,-0.000443,0.000204,0.020401,-8.297275e-08
3,2005-01-02,20:58,1.35410,1.35460,1.35380,1.35460,-0.00050,1.35510,1.35560,1.35480,...,1.353834,39.534884,-115.599343,96.491228,1.355100,1.355390,0.000443,0.000221,0.022144,2.812011e-08
4,2005-01-02,20:59,1.35480,1.35480,1.35410,1.35410,0.00070,1.35580,1.35580,1.35510,...,1.353718,35.416667,-99.779897,96.428571,1.355057,1.355358,-0.000369,0.000228,0.022837,-8.227332e-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5483892,2020-03-05,15:37,1.11742,1.11777,1.11736,1.11773,-0.00031,1.11756,1.11789,1.11748,...,1.116978,52.000000,17.731001,100.000000,1.117725,1.118239,0.000260,0.000211,0.021142,-1.811668e-07
5483893,2020-03-05,15:38,1.11771,1.11796,1.11771,1.11792,-0.00021,1.11785,1.11808,1.11785,...,1.116968,67.326733,54.107013,100.000000,1.117704,1.118223,0.000170,0.000211,0.021133,-1.052359e-07
5483894,2020-03-05,15:39,1.11794,1.11805,1.11785,1.11795,-0.00001,1.11805,1.11817,1.11798,...,1.116962,66.666667,68.296835,100.000000,1.117683,1.118211,0.000027,0.000211,0.021133,-1.043001e-07
5483895,2020-03-05,15:40,1.11796,1.11817,1.11781,1.11781,0.00015,1.11809,1.11831,1.11792,...,1.116972,62.085308,66.104921,100.000000,1.117658,1.118197,-0.000125,0.000212,0.021222,-1.277301e-07
5483896,2020-03-05,15:41,1.11782,1.11782,1.11716,1.11733,0.00049,1.11793,1.11793,1.11731,...,1.116962,47.540984,-9.889520,100.000000,1.117622,1.118177,-0.000429,0.000224,0.022396,-1.984763e-07

In [17]:
testing_dataset

,Date,Time,BO,BH,BL,BC,BCh,AO,AH,AL,...,boll_lb,rsi_30,cci_30,dx_30,close_30_sma,close_60_sma,Returns,Volatility,VIX,Turbulence
5483897,2020-03-05,15:42,1.11735,1.11735,1.11697,1.11729,0.00006,1.11747,1.11749,1.11709,...,1.116945,45.454545,-45.227773,100.0,1.117593,1.118158,-0.000036,0.000221,0.022129,-1.675731e-07
5483898,2020-03-05,15:43,1.11730,1.11742,1.11718,1.11737,-0.00007,1.11743,1.11755,1.11731,...,1.116935,42.857143,-23.261050,100.0,1.117579,1.118139,0.000072,0.000215,0.021470,-9.150521e-08
5483899,2020-03-05,15:44,1.11737,1.11757,1.11734,1.11749,-0.00012,1.11751,1.11769,1.11746,...,1.116961,45.454545,2.579588,100.0,1.117577,1.118123,0.000107,0.000212,0.021198,-2.585647e-08
5483900,2020-03-05,15:45,1.11751,1.11802,1.11751,1.11792,-0.00041,1.11764,1.11815,1.11764,...,1.116964,56.250000,75.200700,100.0,1.117579,1.118122,0.000385,0.000217,0.021729,4.786322e-09
5483901,2020-03-05,15:46,1.11791,1.11813,1.11789,1.11800,-0.00009,1.11804,1.11826,1.11803,...,1.116966,69.396552,112.809358,100.0,1.117573,1.118122,0.000072,0.000212,0.021225,-2.957668e-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5539285,2020-04-29,23:55,1.08770,1.08770,1.08763,1.08764,0.00006,1.08784,1.08784,1.08776,...,1.087649,34.782609,-39.304611,100.0,1.087653,1.087532,-0.000064,0.000032,0.003173,4.285962e-09
5539286,2020-04-29,23:56,1.08762,1.08762,1.08756,1.08757,0.00005,1.08777,1.08777,1.08770,...,1.087623,15.384615,-82.253063,100.0,1.087654,1.087533,-0.000064,0.000034,0.003407,1.819028e-09
5539287,2020-04-29,23:57,1.08759,1.08761,1.08757,1.08759,0.00000,1.08774,1.08775,1.08773,...,1.087608,22.222222,-76.714550,100.0,1.087657,1.087534,0.000018,0.000034,0.003421,2.448068e-09
5539288,2020-04-29,23:58,1.08758,1.08760,1.08757,1.08760,-0.00002,1.08772,1.08775,1.08771,...,1.087591,25.925926,-75.280606,100.0,1.087662,1.087535,0.000009,0.000030,0.003022,5.469847e-09
5539289,2020-04-29,23:59,1.08761,1.08768,1.08761,1.08767,-0.00006,1.08778,1.08785,1.08778,...,1.087587,39.393939,-35.527342,100.0,1.087670,1.087537,0.000064,0.000032,0.003207,7.533892e-09